<!--
    templateType: none
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title or pageTitle %}<title>{{ page_meta.html_title or pageTitle }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    {{ require_css(get_asset_url("../../css/main.css")) }}
    {# This is intended to be used if a template requires template specific style sheets #}
    {% if template_css %}
      {{ require_css(get_asset_url(template_css)) }}
    {% endif %}
    {{ require_css(get_asset_url("../../css/theme-overrides.css")) }}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&family=Montserrat:wght@500;700&display=swap" rel="stylesheet">
    {{ standard_header_includes }}
  </head>
  <body>
    {% block header %}
      {% global_partial path="../partials/header.html" %}
    {% endblock header %}

    <main id="main-content">
      {% block body %}
      {% endblock body %}
    </main>

    {% block footer %}
      {% global_partial path="../partials/footer.html" %}
    {% endblock footer %}

    {{ standard_footer_includes }}
  </body>
</html>
